<h1>ユーザ <%= @user.name %> のパスワードをリセットできませんでした</h1>

以下の問題が発生しています。
<ul>
  <% @user.errors.full_messages.each do |message| -%>
    <li><%= message %></li>
  <% end -%>
</ul>
<br />
<br />
<%= link_to '戻る', users_path %>

