
<div id="error_explanation">
  <h2>
    <%= t("activerecord.errors.template.header.other") \
            % {model: t("activerecord.models.#{model_name}"), count: object.errors.count} %>
  </h2>
  <p><%= t("activerecord.errors.template.body") %></p>
  <ul>
    <% object.errors.full_messages.each do |message| -%>
      <li><%= message %></li>
    <% end -%>
  </ul>
</div>

